.logo-busca {
  width: 100%;
}

.logo {
  padding-right: 2rem;
}

.logo-buscar {
  margin-left: 2rem;
  width: 70%;
  border-radius: 3rem;
  padding: 1rem 1rem;
  border: none;
  background-color: var(--input-bg);
  background-image: url(../assets/lupa.png);
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 95%;
}

.geral-products {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

input {
  border: none;
  padding: 1rem;
  font-size: 1rem;
}

.products_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #464646;
}

.product-button {
  background-color: var(--azul-destaque);
  border: none;
  border-radius: .4rem;
  color: var(--texto-destaque);
  padding: 2rem 2rem;
  font-size: 1rem;
}

.products-section {
  height: 100%;
  padding: 0px 4.5rem 0px 4.5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.produto {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  border-radius: 5%;
  padding: 1rem;
}

.product-name {
  font-size: 1.1rem;
  padding-top: .3rem;
  padding-bottom: 0.5rem;
}

.preco {
  color: #464646;
  font-weight: bold;
  font-size: 1.1rem;
	padding-bottom: 0.5rem;
}

img {
  width: 17vw;
  height: 30vh;
  border-radius: 8%;
}

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.editImage,
.deleteImg {
  width: 24px;
  height: 24px;
}

.buttonDelete,
.buttonEdit {
  background-color: transparent;
  border-color: transparent;
}

/* Mobile 360px*/
@media only screen and (min-width: 360px) {
  .logo-busca {
    padding: 0;
  }
  .logo p {
    padding: 0;
  }
  .product-button {
    border-radius: 0;
    padding: 1rem;
    font-size: .8rem;
  }
  .products_title {
    padding: 2rem 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  p {
    font-size: 1.4rem;
    padding-bottom: 1rem;
  }
  .products-section{
    padding: 0 1rem;
    justify-content: flex-start;
  }
  img {
    width: 40vw;
    height: 220px;
    border-radius: 0;
  }
  .container {
    justify-content: flex-end;
    top: 2.2rem;
  }
  .produto {
    padding: 0;
    margin: 0 0 -2rem;
  }
  .product-name {
    font-size: 1rem;
  }
  .preco {
    font-size: 1rem;
  }
  .preco::before {
    content: "$";
  }
  p.id {
    font-size: .8rem;
  }
  p.id::before {
    content: "#";
  }
}

/* Tablet 768px */
@media only screen and (min-width: 768px) {
  .products_title {
    flex-direction: row;
    padding: 2rem 3rem 0;
  }
  img {
    width: 20vw;
    height: 250px;
  }
  .products-section {
    padding: 0 2.5rem 0 4.5rem;
    justify-content: space-around;
  }
}

/* Desktop 1440px */
@media only screen and (min-width: 1440px) {

  img {
    height: 350px;
  }
}

