/*---------------Variaveis---------------*/

:root {
  --bg-color: #ebebeb;
  --input-placeholder: #d4d4d4;
  --input-bg: #efefef;
  --texto-destaque: #ffff;
  --azul-destaque: #2a7ae4;
  --azul-opaco: #2a7be465;
  --bg-contato: #eaf2fd;
  font-family: "Releway", sans-serif;
}

/*---------------Padrão de projeto---------------*/

textarea:focus,
input:focus {
  box-shadow: 0 0 0 0;
}

input::placeholder,
textarea::placeholder {
  color: var(--input-placeholder);
}

a {
  text-decoration: none;
  color: var(--azul-destaque);
  font-weight: 800;
  font-family: "Releway", sans-serif;
  font-size: 1rem;
}

button {
  cursor: pointer;
}

/*---------------Header---------------*/

header {
  padding: 2rem;
  background-color: var(--texto-destaque);
}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.logo-busca {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo-buscar {
  width: 50%;
  border-radius: 3rem;
  padding: 1rem 1rem;
  border: none;
  background-color: var(--input-bg);
  background-image: url(../assets/lupa.png);
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 95%;
}

.logo-busqueda {
  width: 70%;
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 29.17px;
  width: 40.02px;
  margin-bottom: 0;
}

.logo p {
  font-size: 26px;
  font-weight: bolder;
}

.logo .logo-azul {
  margin-left: 10px;
  color: var(--azul-destaque);
}

.logo-busqueda input {
  margin-left: 10%;
  width: 100%;
  border-radius: 3rem;
  padding: 1rem 1rem;
  border: none;
  background-color: var(--input-bg);
  background-image: url("../assets/lupa.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 95%;
}

.login {
  display: flex;
  justify-content: end;
  margin-right: 1rem;
}

.login button {
  background: var(--azul-destaque);
  color: var(--texto-destaque);
  text-transform: uppercase;
  border: none;
  padding: 2rem;
  border-radius: 0.4rem;
}

.login button:hover {
  background-color: var(--azul-destaque);
  color: var(--texto-destaque);
}

/*---------------Formulario Footer---------------*/

.contato {
  background-color: var(--bg-contato);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 0;
}

.referencia {
  display: flex;
}

.referencia img {
  width: 3rem;
  height: 2rem;
}

.referencia p:nth-child(3) {
  color: black;
}

.img-crud {
  width: 250px;
  height: 200px;
}

.referencia p {
  font-size: 1.5rem;
  font-weight: bolder;
  color: var(--azul-destaque);
  margin-top: 5px;
}

.links-uteis {
  display: flex;
  flex-direction: column;
  line-height: 2.5rem;
  width: 25%;
  margin-right: 4.5rem;
}

.links-uteis a {
  color: black;
  font-weight: normal;
}

.form {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  
}

.form p {
  font-weight: bolder;
  font-size: 1rem;
}

.form input {
  width: 50vw;
  height: 3rem;
  border: none;
  margin: 1.5rem 0;
  padding: 0 0 0 1rem;
  color: var(--azul-destaque);
  font-size: 1rem;
}

.input-nome:focus {
  font-size: 1rem;
  color: var(--azul-destaque);
}

.form textarea {
  width: 50vw;
  font-family: "Relaway", sans-serif;
  border: none;
  margin-bottom: 1.5rem;
  color: var(--azul-destaque);
  padding: 1rem 0 0 1rem;
  font-size: 1rem;
}

.form button {
  background-color: var(--azul-destaque);
  border: none;
  border-radius: .4rem;
  color: var(--texto-destaque);
  width: 20vw;
  padding: 1rem 0;
  font-size: 1rem;
}

/* Mobile 360px*/
@media only screen and (min-width: 360px) {

  header {
    padding: 1rem;
  }

  .logo-busqueda {
    width: 30%;
  }

  .logo-busqueda input {
    display: none;
  }

  .logo img {
    width: 8vw;
    height: 4vh;
  }

  .logo p {
    font-size: 1rem;
    margin: 0;
  }

  .login button {
    padding: .8rem;
    font-size: .7rem;
    float: right;
    border-radius: 0;
  }

  .contato {
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 2rem;
  }

  .logo-pie {
    display: flex;
    flex-direction: row;
    align-items: center;
     
  }

  p.logo-pie-alura-azul {
    font-weight: bolder;
    color: var(--azul-destaque);
  }

  img.logo-pie-img {
    width: 7vw;
    height: 5vh;
    margin-right: .3rem;
  }

  .links-uteis {
    display: flex;
    width: 100vw;
  }

  .links-uteis a {
    text-align: center;
    font-size: .9rem;
  }

  .referencia img {
    margin-bottom: 1.2rem;
  }

  .form {
    width: 100vw;
padding-left: 2rem;
  }
  .form input {
    width: 80vw;
  }
  .form textarea {
    width: 80vw;
  }
  .form p {
    margin-left: 1rem;
    margin-top: 2rem;
  }

  .form button {
    font-size: .9rem;
    border-radius: 0;
    width: 30vw;
    padding: 1rem 0.27rem;
  }

  p.firma {
    font-size: .7rem;
    padding: 1rem 3rem;
    font-style: italic;
    text-align: center;
  }
}



/* Tablet 768px */
@media only screen and (min-width: 768px) {
  .logo-busqueda {
    width: 80%;
  }

  .logo-busqueda input {
    display: block;
  }

  .logo img {
    width: 3vw;
    height: 4vh;
  }
  .contato {
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 0;
  }

  img.logo-pie-img {
    width: 5vw;
    height: 7vh;
    margin-left: 1rem;
  }
  .links-uteis {
    margin-left: 3rem;
  }

  .links-uteis a {
    text-align: left;
    font-size: .9rem;
    margin-left: 1rem;
  }

  .form input {
    width: 25vw;
  }

  .form textarea {
    width: 25vw;
  }
  .form button {
    width: 25vw;
  }
  .referencia {
    margin-left: 3rem;
  }
  .referencia img {
    margin: 0;
  }
  p.firma {
    text-align: center;
    font-size: .7rem;
    padding: 1rem 0;
  }
}

/* Desktop 1440px */
@media only screen and (min-width: 1440px) {
  header {
    padding: 2rem;
  }

  .logo img {
    width: 5vw;
    height: 3vh;
  }

  .logo p {
    font-size: 2.3rem;
  }
  .contato {
    padding: 3rem;
  }
  .links-uteis a {
    font-size: 1rem;
    text-align: center;
  }

}

